

.button{
    -fx-background-color: linear-gradient(#FC8654, #FCCEA5);
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
    -fx-color: #fff;
    -fx-text-align: center;
    -fx-line-height: 23px;
    -fx-margin-left: 5px;
    -fx-margin-top: 8px;
    -fx-padding: 1 15 1 15;
}

.headerLabel {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.select{
    -fx-padding: 1 20 1 20;
}

.text-field {
    -fx-border-color: #FCCEA5;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

.alertLabel{
    -fx-font-size: 10px;
    -fx-text-fill: red;
}

.hyperlink {
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-text-fill: black;
}

